<div class="dice-tooltip blades-die-tooltip">
  {{#if attribute_label}}<div class="chat-label label-stripe-chat">{{localize attribute_label}}</div>{{/if}}
  {{#if position}}
    <div class="chat-label-small label-stripe-chat-small">
      {{{localize position_localize}}} | {{{localize effect_localize}}}
    </div>
  {{/if}}

  {{#if (eq roll_status "critical-success")}}
  <div class="die {{roll_status}}">{{localize "RITS.RollCriticalSuccess"}}</div>
  <div class="description">
    <p>{{{localize "RITS.RollDoWithIncreasedEffect"}}}</p>
  </div>
  {{/if}}

  {{#if (eq roll_status "success")}}
  <div class="die {{roll_status}}">{{localize "RITS.RollSuccess"}}</div>
  <div class="description"><p>{{{localize "RITS.RollDo"}}}</p></div>
  {{/if}}

  {{#if (eq roll_status "partial-success")}}
  <div class="die {{roll_status}}">{{localize "RITS.RollPartialSuccess"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
      {{{localize "RITS.RollPartialSuccessPositionControlled"}}}
      {{else if (eq position "risky")}}
      {{{localize "RITS.RollPartialSuccessPositionRisky"}}}
      {{else}}
      {{{localize "RITS.RollPartialSuccessPosition"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  {{#if (eq roll_status "failure")}}
  <div class="die {{roll_status}}">{{localize "RITS.RollFailure"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
      {{{localize "RITS.RollFailurePositionControlled"}}}
      {{else if (eq position "risky")}}
      {{{localize "RITS.RollFailurePositionRisky"}}}
      {{else}}
      {{{localize "RITS.RollFailurePositionDesperate"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die d6">{{{this.result}}}</li>
    {{else}}
    <li class="roll die d6">{{{this.roll}}}</li>
    {{/if}}
    {{/each}}
  </ol>
</div>
